In [110]:
# author: Vladimir Osin

## Python 

Python is an interpreted high-level programming language for general-purpose programming. Let's look on characteristics of it one by one.

- **Interpreted** - is a type of programming language for which most of its implementations execute instructions directly and freely, without previously compiling a program into machine-language instructions. 
- **High-level** - is a programming language with strong abstraction from the details of the computer, e.g. memory management, making the process of developing a program simpler and more understandable than when using a lower-level language. 
- **General-purpose** - is a programming language designed to be used for writing software in the widest variety of application domains. 

Below we consider minimum requirement basics of Python for successful course completion. 


**Note:** 
- Full tutorial about Python availvable [here](https://docs.python.org/3.7/tutorial/index.html) and highly recommended for complete novices in programming. 
- Built-in functions [here](https://docs.python.org/3/library/functions.html)

## Basic math/operations

In [4]:
5+5

10

In [5]:
98/2, 7*7, 43-21

(49.0, 49, 22)

In [6]:
40 > 20, 30 < 5, 5 >= 5, 5 == 5

(True, False, True, True)

## Variables

In [7]:
# init 
a = 55.6
b = 10
c = (a+5*b)/b

# casting
int(a), float(b)

(55, 10.0)

## Strings

In [8]:
'Quotation' == "Quotation" == """Quotation"""

True

In [9]:
"world".title() == "World", "world".replace('l', '') == 'word'

(True, True)

In [10]:
"world".lower() == 'WORLD', # lower? yes

(False,)

In [11]:
'123'.isdigit(), 'Python'.isalpha()

(True, True)

In [12]:
'John | Smith | Peter | Marcel'.split('|')

['John ', ' Smith ', ' Peter ', ' Marcel']

In [13]:
# format
f'a is equal to {b}', 'a is equal to {0}'.format(a)

('a is equal to 10', 'a is equal to 55.6')

In [14]:
# raw strings
print('First string\nNext string')
print(r'First string\nNext string')

First string
Next string
First string\nNext string

## Boolean and None

In [15]:
# Boolean values respond to logical operators and / or

python2 = False
python3 = True
none_variable = None

In [16]:
True == False

False

## Lists

- The list is a most versatile datatype available in Python which can be written as a sequence of comma-separated values (items) between square brackets. Important thing about a list is that items in a sequence need not be of the same type.

In [17]:
#init
names = ['John', 'Neo', 'Darth Vader']

In [19]:
# access of elements 
names[0], names[2]

('John', 'Darth Vader')

In [20]:
# add element
names.append('Victoria')

In [21]:
# amount of elements in the list
len(names)

4

In [22]:
# delete element from list
del names[0]

In [23]:
# check inclusion of element
'Adam' in names

False

In [24]:
names[1:]

['Darth Vader', 'Victoria']

In [25]:
# slicing
print(f'first two elements of the list: {names[:2]}')
print(f'last element of the list: {names[-1]}') 
print(f'all elements except first: {names[1:]}')

first two elements of the list: ['Neo', 'Darth Vader']
last element of the list: Victoria
all elements except first: ['Darth Vader', 'Victoria']

## Dictionaries

In [26]:
# key-value paired structure
order = {'id'  : [1,2,3, 'research'],
         'name': 'Darth Vader',
         'order_type': 'lightsaber',
         'color': ['red', 'blue'],
         'package_number': 666
        }

In [27]:
# access value by key
order['color'], order.get('color', [])

(['red', 'blue'], ['red', 'blue'])

In [28]:
# all keys
order.keys()

dict_keys(['id', 'name', 'order_type', 'color', 'package_number'])

In [29]:
# all values
order.values()

dict_values([[1, 2, 3, 'research'], 'Darth Vader', 'lightsaber', ['red', 'blue'], 666])

In [30]:
# delete key-value pair
del order['color']

## Sets
- A set contains a collection of unique and immutable objects.

In [31]:
# init
set_names = set(['John', 'James', 'John', 'John', 'Adam'])
print(set_names)

set_numbers = set([6, 2, 4, 1, -100])
print(set_numbers)

{'James', 'Adam', 'John'}
{1, 2, 4, 6, -100}

In [32]:
# add element
set_names.add('David')
print(set_names)

{'David', 'James', 'Adam', 'John'}

## Tuples

- A tuple is a sequence of immutable Python objects. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [33]:
# init
tuple_names_girls = ('Maria', 'Carla', 'Victoria')
tuple_names_boys  = ('Robert', 'Jim', 'Ivan')

In [34]:
# access values
tuple_names_boys[2]

'Ivan'

In [35]:
# concatenation 
tuple_names_boys + tuple_names_girls

('Robert', 'Jim', 'Ivan', 'Maria', 'Carla', 'Victoria')

## Control Flow

### - if statements

In [36]:
if 10>5:
    print('Yes, you should use Python 3 as default')

Yes, you should use Python 3 as default

In [37]:
# single condition
a = 12
if a < 5:
    print(f'a is more than 5')
elif a>10:
    print(f'a is more than 10')
else:
    print(f'this will not be executed')

a is more than 10

In [38]:
# several conditions (try or)
a = 3
if a > 5 and a < 9:
    print('a is more than 5 and less than 9')
else:
    print('a value more than 9')

a value more than 9

In [39]:
# ternary if statement
a = 5
b = -1

print('Python 3' if a > b else 'Python 2')

Python 3

### - loops

In [42]:
# while loop
a = 0
while a<5:
    a = a + 1
    print(a)

1
2
3
4
5

In [43]:
# for loop
for ind, name in enumerate(names):
    print(ind, name)

0 Neo
1 Darth Vader
2 Victoria

In [45]:
# break statement
for name in names:
    if name == 'Darth Vader':
        print('Dark Lord founded')
        break # to terminate loop

Dark Lord founded

In [46]:
# continue statement
for name in names:
    if name == 'Darth Vader':
        continue # go to next iteration
    
    print(name)

Neo
Victoria

In [47]:
# for loop over dictionary 
for key, value in order.items():
    print(key, value)

id [1, 2, 3, 'research']
name Darth Vader
order_type lightsaber
package_number 666

## Functions

In [48]:
# function template
def function_name(param1, param2, *args, **kwargs):
    pass

In [49]:
# example function
def cast_to_int_and_sum(a, b):
    return int(a) + int(b)

In [50]:
# example function (with type hinting)
def cast_to_int_and_sum(a:float, b:float) -> int:
    return int(a) + int(b)

In [51]:
cast_to_int_and_sum(5.55555, 10)

15

In [52]:
# lambda function
cast_to_int_and_sub = lambda a,b: int(a)-int(b)

In [54]:
cast_to_int_and_sub(4.4, 5.2)

-1

In [60]:
# args kwargs
def inderstand_args(*args):
    print(args)

def inderstand_kwargs(**kwargs):
    print(kwargs)
    
def inderstand_kwargs_args(*args, **kwargs):
    print(args, kwargs)

In [56]:
inderstand_args(5, 1, 'sample string')

(5, 1, 'sample string')

In [57]:
inderstand_kwargs(age=23, value=59, order_type='fruits')

{'age': 23, 'value': 59, 'order_type': 'fruits'}

In [61]:
inderstand_kwargs_args('first argument', order_type='fruits')

('first argument',) {'order_type': 'fruits'}