In [110]:
# author: Vladimir Osin

## Python 

Python is an interpreted high-level programming language for general-purpose programming. Let's look on characteristics of it one by one.

- **Interpreted** - is a type of programming language for which most of its implementations execute instructions directly and freely, without previously compiling a program into machine-language instructions. 
- **High-level** - is a programming language with strong abstraction from the details of the computer, e.g. memory management, making the process of developing a program simpler and more understandable than when using a lower-level language. 
- **General-purpose** - is a programming language designed to be used for writing software in the widest variety of application domains. 

Below we consider minimum requirement basics of Python for successful course completion. 


**Note:** 
- Full tutorial about Python availvable [here](https://docs.python.org/3.7/tutorial/index.html) and highly recommended for complete novices in programming. 
- Built-in functions [here](https://docs.python.org/3/library/functions.html)

## Basic math/operations

In [1]:
5+5

10

In [5]:
98/2, 7*7, 43-21

(49.0, 49, 22)

In [128]:
40 > 20, 30 < 5, 5 >= 5, 5 == 5

(True, False, True, True)

## Variables

In [5]:
# init 
a = 5.5
b = 10
c = (a+5*b)/b

# casting
int(a), float(b)

(5, 10.0)

## Strings

In [7]:
'Quotation' == "Quotation" == """Quotation"""

True

In [125]:
"world".title() == "World", "world".replace('l', '') == 'word'

(True, True)

In [11]:
"world".upper() == 'WORLD', # lower? yes

True

In [15]:
'123'.isdigit(), 'Python'.isalpha()

(True, True)

In [16]:
'John, Smith, 23, math'.split(',')

['John', ' Smith', ' 23', ' math']

In [18]:
# format
f'a is equal to {a}', 'a is equal to {0}'.format(a)

('a is equal to 5.5', 'a is equal to 5.5')

In [29]:
# raw strings
print('First string\nNext string')
print(r'First string\nNext string')

First string
Next string
First string\nNext string

## Boolean and None

In [36]:
python2 = False
python3 = True
none_variable = None

## Lists

- The list is a most versatile datatype available in Python which can be written as a sequence of comma-separated values (items) between square brackets. Important thing about a list is that items in a sequence need not be of the same type.

In [56]:
#init
names = ['John', 'Neo', 'Dart Vader']

In [57]:
# access of elements 
names[0], names[2]

('John', 'Dart Vader')

In [58]:
# add element
names.append('Victoria')

In [59]:
# amount of elements in the list
len(names)

4

In [61]:
# delete element from list
del names[0]

In [62]:
# check inclusion of element
'John' in names

False

In [70]:
# slicing
print(f'first two elements of the list: {names[:2]}')
print(f'last element of the list: {names[-1]}') 
print(f'all elements except first: {names[1:]}')

first two elements of the list: ['Neo', 'Dart Vader']
last element of the list: Victoria
all elements except first: ['Dart Vader', 'Victoria']

## Dictionaries

In [78]:
# key-value paired structure
order = {'id'  : 1,
         'name': 'Dart Vader',
         'order_type': 'lightsaber',
         'color': 'red',
         'package_number': 666
        }

In [84]:
# access value by key
order['color'], order.get('is_jedi')

('red', None)

In [85]:
# all keys
order.keys()

dict_keys(['id', 'name', 'order_type', 'color', 'package_number'])

In [86]:
# all values
order.values()

dict_values([1, 'Dart Vader', 'lightsaber', 'red', 666])

In [87]:
# delete key-value pair
del order['color']

## Sets
- A set contains a collection of unique and immutable objects.

In [113]:
# init
set_names = set(['John', 'James', 'John', 'John', 'Adam'])
print(set_names)

set_numbers = set([6, 2, 4, 1, -100])
print(set_numbers)

{'John', 'James', 'Adam'}
{1, 2, 4, 6, -100}

In [103]:
# add element
set_names.add('David')
print(set_names)

{'John', 'James', 'Adam', 'David'}

## Tuples

- A tuple is a sequence of immutable Python objects. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [107]:
# init
tuple_names_girls = ('Maria', 'Carla', 'Victoria')
tuple_names_boys = ('Robert', 'Jim', 'Ivan')

In [108]:
# access values
tuple_names_boys[2]

'Ivan'

In [109]:
# concatenation 
tuple_names_boys + tuple_names_girls

('Robert', 'Jim', 'Ivan', 'Maria', 'Carla', 'Victoria')

## Control Flow

### - if statements

In [40]:
if python3:
    print('Yes, you should use Python 3 as default')

Yes, you should use Python 3 as default

In [41]:
# single condition
a = 10
if a > 5:
    print(f'a is more than 5')
else:
    print(f'this will not be executed')

a is more than 5

In [43]:
# several conditions (try or)
a = 3
if a > 5 and a < 9:
    print('a is more than 5 and less than 9')
else:
    print('a value more than 9')

a value more than 9

In [44]:
# ternary if statement
a = 5
b = -1

print('Python 3' if a > b else 'Python 2')

Python 3

### - loops

In [31]:
# while loop
a = 0
while a<5:
    a = a + 1
    print(f'a v')

a value is 1
a value is 2
a value is 3
a value is 4
a value is 5

In [73]:
# for loop
for name in names:
    print(name)

Neo
Dart Vader
Victoria

In [74]:
# break statement
for name in names:
    if name == 'Dart Vader':
        print('Dark Lord founded')
        break # to terminate loop

Dark Lord founded

In [75]:
# continue statement
for name in names:
    if name == 'Dart Vader':
        continue # go to next iteration
    
    print(name)

Neo
Victoria

## Functions

In [90]:
# function template
def function_name(param1, param2, *args, **kwargs):
    pass

In [131]:
# example function
def cast_to_int_and_sum(a, b):
    return int(a) + int(b)

In [131]:
# example function (with type hinting)
def cast_to_int_and_sum(a:float, b:float) -> int:
    return int(a) + int(b)

In [133]:
# lambda function
cast_to_int_and_sum = lambda a,b: int(a)+int(b)

In [134]:
print(cast_to_int_and_sum(4.4, 5.2))

9

In [114]:
# args kwargs
def inderstand_args(*args):
    print(args)

def inderstand_kwargs(**kwargs):
    print(kwargs)

In [115]:
inderstand_args(5, 1, 'sample string')

(5, 1, 'sample string')

In [122]:
inderstand_kwargs(age=23, value=59, order_type='fruits')

{'age': 23, 'value': 59, 'order_type': 'fruits'}