In [1]:
# author: Vladimir Osin [WIP]

## Pandas

Pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis/manipulation tool available in any language. It is already well on its way toward this goal.

**Note:** 
- Pandas is essential high level data manipulation tool, built on Numpy
- Documentation [here](http://pandas.pydata.org/pandas-docs/stable/index.html)
- 10 minutes tutorial [here](http://pandas.pydata.org/pandas-docs/stable/10min.html)

## DataFrame

In [2]:
import pandas as pd

# DataFrame is one of Pandas' most important data structures
# Let's build DataFrame from a dictionary

# data lists
student_names = ['John', 'Arnold', 'Donald']
age           = [23, 46, 31]
salary        = [30000, 60000, 40000]

# data dict
data_dict = {'student_names': student_names, 'age': age, 'salary': salary} 

# and finally DataFrame
data_frame = pd.DataFrame(data_dict)

In [5]:
data_frame

  student_names  age  salary
0          John   23   30000
1        Arnold   46   60000
2        Donald   31   40000

In [ ]:
# csv to DataFrame